<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand">
            <span style="color: white; font-weight: bold;" th:text="${currentUser.getName()}"></span>
            <span style="color: white;"> with roles: </span>
            <span style="color: white;" th:text="${#strings.setJoin(currentUser.roles.![title], ', ')}"></span>
        </span>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout" style="color: gray;">Log out</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-2 sidebar">
            <div class="nav flex-column">
                <a th:href="@{/admin}"
                   th:class="${#strings.startsWith(#httpServletRequest.getRequestURI(), '/admin') ? 'active-sidebar-link' : 'inactive-sidebar-link'}">
                    Admin
                </a>
                <a th:href="@{/user}"
                   th:class="${#strings.startsWith(#httpServletRequest.getRequestURI(), '/user') ? 'active-sidebar-link' : 'inactive-sidebar-link'}">
                    User
                </a>
            </div>
        </div>

        <!-- Main Content -->
        <div class="col-md-10 main-content">
            <h1>Admin panel</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="#" style="color: gray">New user</a>
                </li>
            </ul>
            <div class="card border" style="background-color: white">
                <h5 class="card-header">Add new user</h5>
                <div class="d-flex justify-content-center text-center">
                    <form th:method="POST" th:action="@{/admin}" th:object="${user}">
                        <label style="font-weight: bold" for="name" class="form-label">Name:</label>
                        <input class="form-control" type="text" th:field="*{name}" id="name"/> <br/>
                        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

                        <label style="font-weight: bold" for="password" class="form-label">Password:</label>
                        <input class="form-control" type="password" th:field="*{password}" id="password"/> <br/>
                        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

                        <label style="font-weight: bold" for="age" class="form-label">Age:</label>
                        <input class="form-control" type="number" th:field="*{age}" id="age"/> <br/>
                        <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>

                        <label style="font-weight: bold" for="gender" class="form-label">Gender:</label>
                        <select class="form-control" th:object="${user}" th:field="*{gender}" id="gender">
                            <option th:each="gender : ${T(ru.kata.spring.boot_security.demo.model.Gender).values()}"
                                    th:value="${gender}" th:text="${gender}"></option>
                        </select> <br/>

                        <label style="font-weight: bold" for="roles" class="form-label">Roles:</label>
                        <select class="form-control" multiple="multiple" th:field="*{roles}" id="roles">
                            <option th:each="role : ${T(ru.kata.spring.boot_security.demo.model.Role).values()}"
                                    th:value="${role.name()}" th:text="${role.getTitle()}"></option>
                        </select> <br/>

                        <input type="submit" value="Add"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>
</html>